.container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 7%;
}
.container h1{
    text-align: center;
    font-size: 40pt;
}
.flex-container {
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.line{    
    border: 1px solid gray;
}
.datos{
    width: 50%;
    background-color: #f2f2f2;
}
.datos .carrito h2{
    text-align: center;
    font-size: 20pt;
}
.datos .carrito .product{
    display: flex;
    justify-content: space-around;
}
.datos .carrito .product .imgP{
    margin-top: 23px;
    margin-right: 5px;
    width: 90px;
    height: 90px;
    border: 1px solid black;
}
.datos .carrito h3{
    font-size: 15pt;
}