body{ padding: 0; margin: 0;}

.header{
    margin: auto;
    display: flex;
    position: fixed;
    height: 15%;
    width: 100%;
    background-color: rgb(203, 227, 233);
    color: rgb(49, 49, 49);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header .logo{
    margin: auto;
}
.header .logo img{
    height: 85px;
}
.header .menu{
    margin: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17pt;
    text-decoration: none;
    font-weight: bold;
}
.header .menu a{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    color: rgb(49, 49, 49);
}
.header .carrito{
    margin-top: auto;
    margin-bottom: auto;
}
.header .carrito img{
    height: 35px;
}
.header .perfil{
    margin: auto;
}
.header .perfil img{
    height: 60px;
}

.footer{
    margin: auto;
    display: flex;
    height: 15%;
    width: 100%;
    background-color: rgb(203, 227, 233);
    color: rgb(49, 49, 49);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer-content{
    margin: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}