body{ padding: 0; margin: 0;}

.header{
    margin: auto;
    display: flex;
    position: fixed;
    height: 15%;
    width: 100%;
    background-color: rgb(203, 227, 233);
    color: rgb(49, 49, 49);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header .logo{
    margin: auto;
}
.header .logo img{
    height: 85px;
}
.header .menu{
    margin: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17pt;
    text-decoration: none;
    font-weight: bold;
}
.header .menu a{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    color: rgb(49, 49, 49);
}
.header .carrito{
    margin-top: auto;
    margin-bottom: auto;
}
.header .carrito a{
    text-decoration: none;
    color: black;
}
.header .carrito a:hover{
    text-decoration: none;
    color: white;
}
.header .perfil{
    margin-top: auto;
    margin-bottom: auto;
    /* margin: auto; */
    text-decoration: none;
}
.header .perfil a{
    text-decoration: none;
    color: black;
}
.header .perfil a:hover{
    text-decoration: none;
    color: white;
}

.footer{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: auto;
    /* display: flex; */
    height: 20%;
    width: 100%;
    background-color: rgb(203, 227, 233);
    color: rgb(49, 49, 49);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer-content{
    margin: auto;
    padding: 20px;
    padding-left: 60px;
}
.footer-content h1{
    font-size: 12pt;
    font-weight: bold;
}
.footer-content i{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}