.banner {
    height: 400px;
    background-image: url(../assets/contacto-banner.jpg);
    background-size: cover;
}
.info{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.info h1 {
    font-family: 'Pacifico', cursive;
    font-size: 35pt;
    text-align: center;
}
.info p{
    font-size: 18pt;
    font-weight: bold;
    line-height: 0.5em;
}
.info span {
    color: rgb(180, 180, 180);
    font-style: italic;

}
.info input{
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.info input[type="submit"]{
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.info nota {
    font-size: 12pt;
    color: gray;
    font-style: italic;
}


