.container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 40px;
    padding-top: 7%;
}

.container h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 40pt;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 400px;
}

.informacion{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.informacion p{
    font-size: 20pt;
    margin: 0 auto;
}

.informacion button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(232, 184, 108);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 100%;
}

.informacion button:hover {background-color: rgb(232, 184, 108)}

.informacion button:active {
background-color: rgb(113, 210, 113);
box-shadow: 0 5px #666;
transform: translateY(4px);
}