.container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 40px;
    padding-top: 7%;
}
.container h1{
    text-align: center;
    font-size: 40pt;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.datos{
    line-height: 0.5em;
    width: 40%;
    margin-top: 30px;
    align-items: center;
}
.datos input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.datos input[type="submit"]{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.line{    
    border: 1px solid gray;
}
.opciones{
    margin-top: 60px;
    align-items: center;
}